{% load i18n %}
{% load staticfiles %}
{% load app_filters %}

{# include 'suggested.html' #}

{% include 'back_button.html' %}

  <div class="row-fluid">

    <div class="span9" id="embed-container-parent">
      <div class="row-fluid">
      <!-- <h1>{% trans 'Mix' %} | {% trans 'Podcast' %} | {% trans 'Live' %}</h1> -->
        <div class="span6">
          <a href="{% url 'podcasts' %}" class="btn btn-primary raised">&laquo; {% trans 'Podcasts' %}</a>
        </div>
        <div class="span6" style="text-align: right">
          {% if cast.id != latest_podcast.id %}
            <a href="{% url 'podcasts_show' prev_podcast %}" class="btn"><img src="{% static 'img/arrowhead7.png' %}"></a>
          {% else %}
            <span class="btn disabled"><img src="{% static 'img/arrowhead7.png' %}"></span>
          {% endif %}
          <a href="{% url 'podcasts_show' next_podcast %}" class="btn"><img src="{% static 'img/play45.png' %}"></a>
        </div>
      </div>

      <div class="row-fluid">
      <div class="span12">
      {% if cast != False %}
        <h2 id="focus" style="padding: 30px 0">
        <img src="{% static 'img/pulse2.png' %}" />
        {{ cast.title }}
        </h2>

          <div class="row-fluid">
            <div class="span4">
                <img src="{{ cast.thumb }}" width="150px" class="img-block-index">
            </div>
            <div class="span8">

            <!-- PLAY BTN -->
              <div style="padding-top: 40px;text-align: center">
                <div id="button-play-podcast" class="btn btn-play" data-id="{{ cast.player_id }}" data-supplier="{{ cast.supplier }}"></div>
              </div>
            <!-- /PLAY BTN -->

            </div>
          </div>

        </div>
        </div>

        <div style="text-align: left;padding: 10px 0">
            {% for g in cast.podcast.all %}
              <a href="{% url 'podcasts' %}?name={{ g.name }}" class="btn btn-secondary btn-large">{{ g.name }}</a>
            {% endfor %}
            {% for g in cast.genre.all %}
              <a href="{% url 'podcasts' %}?tag={{ g|urlencode}}"><span class="btn btn-large">{{ g }}</span></a>
            {% endfor %}
            {% if cast.bpm > 0 %}
              <a href="{% url 'podcasts' %}?bpm={{ cast.bpm|urlencode}}"><span class="btn btn-large">{{ cast.bpm }} bpm</span></a>
            {% endif %}
        </div>

        {% if cast.desc %}
          <p style="background: rgba(255, 255, 255, 0.5);padding: 10px;margin: 10px 0;">
          {{ cast.desc|unquote_new|safe }}
          </p>
        {% endif %}

        <div style="background: #fff;background: rgba(255, 255, 255, 0.5);padding: 10px;margin: 10px 0">
          <h3 id="disqus-comments">{% trans 'Comments' %}</h3>
          <div>
          {% include 'disqus.html' %}
          </div>
        </div>
      {% else %}
      <h1>Not found</h1>
      {% endif %}
    </div>

    <div class="span3">

      <h4>{% trans 'Recommended' %}</h4>
      {% for podcast in adviced %}
        <a href="{% url 'podcasts_show' podcast.id %}">
          <div class="video-block" onclick="//podcast.openPodcast('{{ podcast.player_id }}', '{{ podcast.supplier }}')">
          <table width="100%"><tr>
            <td style="vertical-align: top;padding-right: 10px;height: 100%;text-align: center" width="60px">
              <img src="{{ podcast.thumb }}" width="50px" class="img-block" />
            </td>
            <td style="vertical-align: top;">
              <h4 style="font-size: 16px">{{ podcast.title|safe }}</h4>
            </td>
          </tr></table>
          </div>
        </a>
      {% endfor %}

    </div>

  </div>

{% include 'submit-podcast.html' %}

{% include 'review.html' %}

{% include 'bottom.html' %}