{% load i18n %}
{% load staticfiles %}


{% include 'back_button.html' %}

    <div class="row-fluid">

      <div class="span12">
        {% if search != False %}
          <h2 id="focus">Search: <span style="color: green">{{ search }}</span></h2>
        {% endif %}
      </div>

    </div>

{% if podcast_label.0.thumb %}
    <div class="row-fluid">
      <div class="span2">
        <img src="{{ podcast_label.0.thumb }}" class="img-block-index" />
      </div>
      <div class="span10">
        
        <div style="background: #fff;background: rgba(255, 255, 255, 0.5);padding: 10px;font-size: 14px">
          <h2>{{ podcast_label.0.name }}</h2>
          {{ podcast_label.0.desc|safe }}
        </div>
      </div>
    </div>
{% endif %}

{% if data %}
    <div class="row-fluid">
      {% include 'pagination.html' %}
    </div>
{% endif %}

<div class="row-fluid" style="padding: 15px 0">
  {% for g in genres %}
    <a href="/podcasts/?tag={{ g.genre__name|urlencode }}" class="btn btn-large">{{ g.genre__name }}</a>
  {% endfor %}
</div>

{% if data %}

  <div class="row-fluid">
    <div class="span12">
      <div class="row-fluid">
      {% for podcast in data.object_list %}
        <div class="span2">
        <a href="{% url 'podcasts_show' podcast.id %}" class="custom-link" id="podcast-{{podcast.id}}">
          <div>
            <img src="{{ podcast.thumb }}" class="img-block-index" width="100%" />
          </div>
          <div style="padding: 5px">
            <p>{{ podcast.title|safe }}</p>
          </div>
        </a>
        </div>
        
        {% if forloop.counter == 6 or forloop.counter == 12 or forloop.counter == 18 %}
          </div>
          <div class="row-fluid">
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>

{% else %}
  <div class="info-block">
    <h2>{% trans 'No mixes found' %}</h2>
  </div>
{% endif %}

{% if data %}
    <div class="row-fluid">
      {% include 'pagination.html' %}
    </div>
{% endif %}

{% include 'submit-podcast.html' %}

{% include 'review.html' %}



{# include 'events.html' #}

{% include 'bottom.html' %}