{% load i18n %}
{% load staticfiles %}
{% load app_filters %}

{% include 'back_button.html' %}

<div class="row-fluid">

  <div class="span12">
  <h1>{% trans 'Catalog' %}</h1>

    <div class="row-fluid">
    
    {% for key, values in data.items|sort %}
    <div class="span3">
      <div><b>{{ key }}</b></div>
      <div class="main-header-content" style="padding: 15px">
      {% for b in values %}
        <a href="{% url 'podcasts' %}?{{tag}}={{ b|urlencode }}">
          <div style="padding: 0 10px">{{ b }}</div>
        </a>
      {% endfor %}
      </div>
      </div>
      {% if forloop.counter in rb %}
        </div>
        <div class="row-fluid">
      {% endif %}
    {% endfor %}
    </div>
  </div>

</div>

{% include 'submit-video.html' %}

{% include 'review.html' %}

{# include 'events.html' #}

{% include 'bottom.html' %}