{% load i18n %}
{% load staticfiles %}

  <div class="row-fluid">

    <div class="span8">
      <div class="row-fluid">
      <div class="span6">
        <h2>{% trans 'Selected' %}</h2>
      </div>
      <div class="span6">
      <div style="text-align: right">
        <img src="{% static 'img/grid.png' %}" width="32px" class="btn btn-large" style="padding: 3px 7px" id="main-grid">
        <img src="{% static 'img/list.png' %}" width="24px" class="btn btn-large" style="padding: 3px 7px" id="main-list">
      </div>
      </div>
      </div>
      <div id="main-podcast-container">
      <!--
        <div class="row-fluid">
        {% for podcast in data.object_list %}
          <div class="span3">
            <div>
            <a href="{% url 'podcasts_show' podcast.id %}" class="custom-link" id="podcast-{{podcast.id}}">
              <div style="padding: 5px">
                <img src="{{ podcast.thumb }}" class="img-block-index" width="100%" height="100%" />
              </div>
              <div style="padding: 10px;background: rgba(255, 255, 255, 0.6);">
                <p>{{ podcast.title|safe }}</p>
              </div>
            </a>
            </div>
          </div>
          
          {% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 or forloop.counter == 16 %}
            </div>
            <div class="row-fluid">
          {% endif %}
        {% endfor %}
        </div>
        -->
      </div>
      <div class="row-fluid">
        <div class="span12" style="text-align: center;margin: 20px 0">
          <a href="{% url 'podcasts' %}" class="btn btn-primary raised">{% trans 'MORE PODCASTS' %}</a>
        </div>
      </div>
    </div>

    <div class="span4">

      <h3>Styles</h3>
        {% for l in podcast_genres %}
          {% if l.genre__name == 'techno' or l.genre__name == "drum'n'bass" or l.genre__name == "house"%}
            <a href="/podcasts/?tag={{ l.genre__name|urlencode }}" class="btn btn-large btn-light">{{ l.genre__name }}</a>
          {% else %}
            <a href="/podcasts/?tag={{ l.genre__name|urlencode }}" class="btn btn-large">{{ l.genre__name }}</a>
          {% endif %}
        {% endfor %}

      <div class="row-fluid">
        <div class="span12">
        <table width="100%"><tr>
          <td>
            <h3>{% trans 'Tempo' %}: <span id="slider-value" style="color: #333"></span>
            <span style="color: #333"> bpm</span></h3>
          </td>
          <td style="text-align: right">
            <span class="btn btn-bpm-search" id="btn-bpm-search">{% trans 'Search' %}</span>
          </td>
        </tr></table>
        </div>
      </div>
      <div id="slider" style="margin-bottom: 35px"></div>

        <h3>{% trans 'Latest podcasts' %}</h3>
        {% for l in podcast_collector %}
          <a href="{% url 'podcasts' %}?name={{ l.name|urlencode }}"><span class="btn btn-large">{{ l.name }}</span></a>
        {% endfor %}
        <a href="{% url 'podcasts_directory' %}"><div class="btn btn-primary raised">. . .</div></a>

        <h3>Artists</h3>
        {% for l in data_artists %}
          {% for b in l.artist.all %}
            <a href="{% url 'podcasts' %}?artist={{ b.name|urlencode }}"><span class="btn btn-large">{{ b.name }}</span></a>
          {% endfor %}
        {% endfor %}
        <a href="{% url 'podcasts_artists' %}"><div class="btn btn-primary raised">. . .</div></a>
    </div>

  </div>


  {% include 'submit-podcast.html' %}


  <div class="row-fluid">
    <div class="span12">
      <h1>{% trans 'Videos' %}</h1>
    </div>
  </div>

<!-- VIDEOS -->

  <div class="row-fluid">

    {% for vid in video %}
        <div class="span4">
          <a href="{% url 'videos_show' vid.id %}">
            <div class="video-block">

              <table width="100%"><tr>
                <td style="vertical-align: top;padding-right: 10px;height: 100%;text-align: center" width="110px">
                  <img src="http://img.youtube.com/vi/{{ vid.embed_id }}/default.jpg" width="100px" class="img-block" />
                </td>
                <td  style="vertical-align: top">
                  <h4>{{ vid.title }}</h4>
                    <div style="text-align: right">
                      {% for g in vid.genre.all %}
                        <span class="label label-info">{{ g }}</span>
                      {% endfor %}
                      {% if vid.bpm > 0 %}
                          <span class="label">{{ vid.bpm }} bpm</span>
                      {% endif %}
                    </div>
                </td>
              </tr></table>
            </div>
          </a>
        </div>

        {% if forloop.counter == 3 or forloop.counter == 6 or forloop.counter == 9 or forloop.counter == 12 %}
          </div>
          <div class="row-fluid">
        {% endif %}

    {% endfor %}

      {% for l in video_genres %}
        <a href="/videos/?tag={{ l.genre__name|urlencode }}" class="btn btn-large">{{ l.genre__name }}</a>
      {% endfor %}

  </div>

  <div class="row-fluid">
    <div class="span12" style="text-align: center;margin: 20px 0">
      <a href="{% url 'videos' %}" class="btn btn-primary raised">{% trans 'MORE VIDEOS' %}</a>
    </div>
  </div>
  
  <!-- /VIDEOS -->

  {% if bpmMaxMin %}
  <script>
    window.bpm = {{ bpmMaxMin }};
  </script>
  <script type="text/template" class="template">

    <%
      _.each(podcasts, function(item, index) {
    %>
          <div class="span3">
            <div>
            <a href="/podcasts/<%= item.id %>" class="custom-link" id="podcast-<%= item.id %>">
              <div style="padding: 5px">
                <img src="<%= item.thumb %>" class="img-block-index" width="100%" height="100%" />
              </div>
              <div style="padding: 10px;background: rgba(255, 255, 255, 0.6);">
                <p><%= item.title %></p>
              </div>
            </a>
            </div>
          </div>
          <% if (index == 3 || index == 7 || index == 11 || index == 15) {%>
                        </div>
            <div class="row-fluid">
            <%} %>
    <%
      });
    %>
  </script>
  {% endif %}


{% include 'submit-video.html' %}

{% include 'review.html' %}

{# include 'events.html' #}

{% include 'bottom.html' %}