{% extends "base.html" %}
{% load i18n %}
{% block content %}
      <div class="form-signin">
          <div>
              <p>{% trans 'Session closed' %}</p>
          </div>
          <h2>{% trans 'Come back again' %}</h2>
          <div style="text-align: center">
              <a class="btn btn-large btn-primary" href="/">{% trans 'Back to home page' %}</a>
          </div>
      </div>
{% endblock %}