{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="form-signin">
{% if not user.is_authenticated %}
      <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-error">
                {% trans 'Your username and password did not match. Please try again.' %}
            </div>
        {% endif %}
<div>
    <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}" ijax="false">Login with Twitter</a>
</div>
<div>
    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" ijax="false">Login with Facebook</a>
</div>
<div>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" ijax="false">Login with Google</a>
</div>
<div>
    <a href="{% url 'social:begin' 'soundcloud' %}?next={{ request.path }}" ijax="false">Login with Soundcloud</a>
</div>
<div>
    <a href="{% url 'social:begin' 'mixcloud' %}?next={{ request.path }}" ijax="false">Login with Mixcloud</a>
</div>
        <h1 style="margin-bottom: 35px">Вход</h1>
        <p>{{ form.username.label_tag }}</p>
        {{ form.username }}
        <p>{{ form.password.label_tag }}</p>
        {{ form.password }}
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> {% trans 'Remember me' %}
        </label>
        <button class="btn btn-large btn-primary" type="submit" style="width: 100%">{% trans 'Sign in' %}</button>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
{% else %}
    <h1 style="text-align: center">{% trans 'Welcome' %} !</h1>
    <div style="text-align: center;padding-top: 30px">
        <a class="btn btn-large btn-primary" href="/">{% trans 'Back to home page' %}</a>
    </div>
{% endif %}
</div>
{% endblock %}