{% extends "base.html" %}
{% load i18n %}
{% block content %}
      <div class="form-signin">
          <h2>{% trans 'Registration complete. Activate code from email.' %}</h2>
          <div style="text-align: center">
              <a class="btn btn-large btn-primary" href="/">{% trans 'Back to home page' %}</a>
          </div>
      </div>
{% endblock %}