{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% trans 'Sign in' %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}

    <link href="{% static "build/all.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "vendor/html5shiv/dist/html5shiv.min.js" %}"></script>
    <![endif]-->
  </head>

  <body>
{% include 'top.html' %}
    <div class="container">
    
    {% block content %}
    {% endblock %}
    </div> <!-- /container -->

  </body>
</html>
