{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="form-signin">
{% if not user.is_authenticated %}
<h1 style="margin-bottom: 35px">{% trans 'Register' %}</h1>
<form method='post' action=''>{% csrf_token %}
	{% for field in form %}
		<div>{{ field.label_tag }}</div>
		{% if field.errors %}<div style="font-size: 16px">{{ field.errors }}</div>{% endif %}
		<div>{{ field }}</div>
	{% endfor %}
	<input class="btn btn-large btn-primary" type="submit" value="{% trans "Send activation email" %}" style="width: 100%" />
</form>

{% else %}
    <h1>{% trans 'Already authenticated' %}</h1>
    <div style="text-align: center">
        <a class="btn btn-large btn-primary" href="/">{% trans 'Back to home page' %}</a>
    </div>
{% endif %}
</div>
{% endblock %}
