{% load i18n %}
{% load staticfiles %}

<div class="row-fluid">
  <div class="span12">
    <h1>{% trans 'Videos' %}</h1>
  </div>
</div>

<div style="padding-top: 15px" class="main-opacity-block">

    <div class="row-fluid">

    {% include 'pagination.html' %}

    </div>



  <div class="row-fluid">
    <div class="span2">
        <!-- filter -->
        <div style="background: #fff;padding: 10px;font-size: 14px">
          <h3>{% trans 'Search' %}</h3>
          <p>{% trans 'Genre' %}</p>
          <select style="width: 100%" onchange="podcast.search(this)">
            <option>---</option>
            {% for tag in genres %}
              {% if request.GET.tag == tag.genre__name %}
              <option value="{{ tag.genre__name|urlencode }}" selected="selected">{{ tag.genre__name }}</option>
              {% else %}
              <option value="{{ tag.genre__name|urlencode }}">{{ tag.genre__name }}</option>
              {% endif %}
            {% endfor %}
          </select>
          <!--
          <p>Podcast name</p>
          <select style="width: 100%">
            <option>---</option>
            {% for tag in podcasts %}
              <option value="">{{ tag.name }}</option>
            {% endfor %}
          </select>
          -->
        </div>
        <!-- /filter -->
    </div>
    <div class="span10">
    <div class="row-fluid">
    {% for vid in data.object_list %}
      <div class="span6">
      <a href="{% url 'videos_show' vid.id %}">
      <div class="video-block" onclick="//podcast.openVideo('{{ vid.embed_id }}')">
      <table width="100%"><tr>
        <td style="vertical-align: top;padding-right: 10px;height: 100%" width="85px" height="85px">
          <img src="http://img.youtube.com/vi/{{ vid.embed_id }}/default.jpg" class="img-block" />
        </td>
        <td style="vertical-align: top;">
          <h4>{{ vid.title|safe }}</h4>
          <div style="text-align: right">
            {% for g in vid.genre.all %}
              <span class="label label-info">{{ g }}</span>
            {% endfor %}
            {% if vid.bpm > 0 %}
                <span class="label">{{ vid.bpm }} bpm</span>
            {% endif %}
          </div>
        </td>
      </tr></table>
      </div>
      </a>
      </div>
      {% if forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 %}
        </div>
        <div class="row-fluid">
      {% endif %}
    {% endfor %}
    </div>
    </div>
  </div>

</div>

  <div class="row-fluid">
    {% include 'pagination.html' %}
  </div>

{% include 'review.html' %}

{# include 'events.html' #}

{% include 'bottom.html' %}