{% load i18n %}
{% load staticfiles %}
{% load app_filters %}


  <div class="row-fluid">

    <div class="span9" id="embed-container-parent">

      <div class="row-fluid">
      <!-- <h1>{% trans 'Mix' %} | {% trans 'Podcast' %} | {% trans 'Live' %}</h1> -->
        <div class="span6">
          <a href="{% url 'videos' %}"><span class="btn btn-primary raised">&laquo; {% trans 'Videos' %}</span></a>
        </div>
        <div class="span6" style="text-align: right">
          {% if cast.id < latest_video.id %}
          <a href="{% url 'videos_show' cast.id|add:1 %}"><span class="btn">&laquo; {% trans 'Prev' %}</span></a>
          {% endif %}
          <a href="{% url 'videos_show' cast.id|add:-1 %}"><span class="btn">{% trans 'Next' %} &raquo;</span></a>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span12">
        {% if cast != False %}

          <h2 style="margin: 15px 0">{{ cast.title }}</h2>

          <div>
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/{{ cast.embed_id }}" frameborder="0" allowfullscreen></iframe>
          </div>

        </div>
      </div>

        <div style="text-align: right">
            {% for g in cast.genre.all %}
              <span class="label label-info">{{ g }}</span>
            {% endfor %}
            {% if cast.bpm > 0 %}
                <span class="label">{{ cast.bpm }} bpm</span>
            {% endif %}
        </div>

        {% if cast.desc %}
        <div style="background: #fff;background: rgba(255, 255, 255, 0.5);padding: 10px;margin: 10px 0;font-size: 14px">
        {{ cast.desc|unquote_new|safe }}
        </div>
        {% endif %}

        <div style="background: #fff;background: rgba(255, 255, 255, 0.5);padding: 10px;margin: 10px 0">
          <h3 id="disqus-comments">{% trans 'Comments' %}</h3>
          {% include 'disqus.html' %}
        </div>

      {% else %}
      <h1>Not found</h1>
      {% endif %}
    </div>

    <div class="span3">

    <h4>{% trans 'Recommended' %}</h4>
    {% for podcast in adviced %}
      <a href="{% url 'videos_show' podcast.id %}">
        <div class="video-block">
        <table width="100%"><tr>
          <td style="vertical-align: top;padding-right: 10px;height: 100%;text-align: center" width="60px">
            <img src="http://img.youtube.com/vi/{{ podcast.embed_id }}/default.jpg" width="50px" class="img-block" />
          </td>
          <td style="vertical-align: top;">
            <h4 style="font-size: 16px">{{ podcast.title|safe }}</h4>
            <div style="text-align: right">
                {% for g in podcast.genre.all %}
                  <span class="label label-info">{{ g }}</span>
                {% endfor %}
                {% if podcast.bpm > 0 %}
                    <span class="label">{{ podcast.bpm }} bpm</span>
                {% endif %}
            </div>
          </td>
        </tr></table>
        </div>
      </a>
    {% endfor %}

    </div>

  </div>