{% load staticfiles %}

{% if back != False %}
<div id="history-back-container" style="margin: 15px 0">
    <div class="row-fluid">
      <div class="span12">

          <button class="btn btn-border" id="history-back-button">
            <img src="{% static 'img/undo22.png' %}">
          </button>

      </div>
    </div>
</div>
{% endif %}