{% spaceless %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ meta_title }}</title>
        {% load staticfiles %}
        <link href="{% static "build/all.css" %}" rel="stylesheet">
        <link href="{% static "css/styles.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
       <link href='https://fonts.googleapis.com/css?family=Roboto:400,100&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>

        <div class="loading">
            <div class="outer">
            <div class="middle">
            <div class="inner">
                <!-- <img src="{% static 'img/loading.gif' %}" /> -->
                <div class="spinner">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>
            </div>
            </div>
            </div>
        </div>

        <!-- .container-wrap -->
        <div class="container-wrap">
        <div class="container-fluid">
        <!-- all the row-fluid are childs of container-fluid -->

        {% include 'top.html' %}

        <!-- left static vertical -->
        <div class="row-fluid" id="left-side-block">
            <div class="span12">
                <div class="navi-wrap">
                  <div class="navi-content">
                    <table style="height: 100%;width: 100%"><tr><td style="vertical-align: middle;height: 100%;text-align: center">
                      <img src="{% static 'img/internet62.png' %}" style="padding-top: 20px;" id="rss-modal">
                      <img src="{% static 'img/facebook.png' %}" style="padding-top: 20px;">
                    </td></tr></table>
                  </div>
                </div>
            </div>
        </div>
        <!-- /left static vertical -->

        <!-- IJAX -->
        <div id="dynamic-container">
            {% block content %}
            {% endblock %}
        </div>
        <!-- /IJAX -->

        <div>
            {% block content-footer %}
            {% endblock %}
        </div>

        <!-- MODAL -->
              <div id="sample-13b">
                <div id="sample-13b-content"></div>
                <!-- <div class="plainmodal-hide">_</div> -->
                <div class="plainmodal-close">&#215;</div>
              </div>
        <!-- /MODAL -->

        </div>
        </div><!-- /.container-wrap -->

    </body>
    <script src="{% static "vendor/requirejs-bower/require.js" %}"></script>
    <script>
        requirejs.config({
            baseUrl: "{% static '' %}",
            paths: {
                underscore: "vendor/underscore/underscore-min",
                backbone: "vendor/backbone/backbone-min",
                jquery: "vendor/jquery/jquery.min",
                utils: "js/app/utils",
                noUiSlider: "vendor/nouislider/distribute/nouislider.min",
                ijax: "js/app/ijax",
                application: "js/app/application",
                indexController: 'js/app/Controllers/indexController',
                indexModel: 'js/app/Models/indexModel',
                indexView: 'js/app/Views/indexView',
            },
            shim: {
                backbone: {
                    deps: ['underscore', 'jquery'],
                    exports: 'Backbone'
                },
                underscore: {
                    exports: '_'
                }
            }
        });
        requirejs(['js/app/main']);
    </script>
</html>
{% endspaceless %}