{% load i18n %}

<div class="main-header-content" style="margin-top: 30px">
    <div class="row-fluid">

      <div class="span4">
      	<h3>{% trans 'Feedback' %}</h3>
        <form action="{% url 'feedback' %}" method="post" onsubmit="return podcast.validateFeedback();">
            {% csrf_token %}
            {{ feedback_form }}
            <p>
              <input type="submit" class="btn btn-primary raised" value="{% trans 'Submit' %}" />
            </p>
        </form>
      </div>

      <div class="span4">
        <h3>{% trans 'Links' %}</h3>
        <p>
          <a href="https://soundcloud.com" target="_blank">https://soundcloud.com</a>
        </p>
        <p>
          <a href="https://www.mixcloud.com/" target="_blank">https://www.mixcloud.com/</a>
        </p>
        <p>
          <a href="https://promodj.com/" target="_blank">https://promodj.com/</a>
        </p>
      </div>

    </div>
    <div class="row-fluid">
      <div class="span12">
        <div style="text-align: right;margin: 15px 0">Electronic Music Podcasts Videos, {% now "Y" %}</div>
      </div>
    </div>
</div>
