{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div id="disqus_thread"></div>
<script type="text/javascript">

    if (typeof(DISQUS) != 'object') {
        var disqus_shortname = 'localhost';
        var disqus_config = function() {
          this.language = "{{ LANGUAGE_CODE }}";
        };
        
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    }
    
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
