{% load i18n %}
<div class="main-header-content">
    <div class="row-fluid">
      <div class="span12">
        <h1>{% trans 'Events' %}</h1>
      </div>
    </div>
</div>

<div style="padding-top: 25px" class="main-opacity-block">
  <div class="row-fluid">
    <div class="span3">
      <div></div>
    </div>
    <div class="span9" style="background: rgba(242, 240, 237, 0.8);padding: 10px">
      <div class="calendar-block">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
</div>