{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class="row-fluid">
  <div class="span3"></div>
  <div class="span12" style="text-align: center">
    <h1 style="margin-bottom: 30px">{% trans 'Thank you for feedback !' %}</h1>
    <a href="/"><span class="btn btn-primary raised">{% trans 'Back to home page' %}</span></a>
  </div>
  <div class="span3"></div>
</div>

{% endblock %}