<div class="navbar">
<div class="navbar-inners">
    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <!-- Be sure to leave the brand out there if you want it shown -->
          <ul class="nav pull-left">
            <li>
              <a href="/">Hardside</a>
            </li>
          </ul>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
<!--
        <ul class="nav nav-custom pull-left">
            <li><a href="#" target="_blank">Techno</a></li>
            <li><a href="#" target="_blank">Drum'n'bass</a></li>
        </ul>
-->
        <ul class="nav nav-custom pull-right">
            <li>
              <a class="dropdown-toggle" data-toggle="dropdown">
                  
                  Options
                  <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li>
                      <a ng-click="setLang('en')">
                      <img src="static/img/16/EN.png"> EN</a>
                  </li>
                  <li>
                      <a ng-click="setLang('ru')">
                      <img src="static/img/16/RU.png"> RU</a>
                  </li>
              </ul>
            </li>

          </ul>
      </div>

    </div> <!-- /container -->
</div>
</div>