<div class="pagination" style="text-align: center;">
    <span class="step-links">

        {% if data.has_previous %}
            <a href="/{{current_url}}?page={{ data.previous_page_number }}{% if request.GET.tag %}&tag={{request.GET.tag}}{% endif %}"><button class="btn btn-large">&laquo;</button></a>
        {% else %}
            <button class="btn btn-large disabled">&laquo;</button>
        {% endif %}

        {% for x in data.paginator.page_range %}
        {% if data.number == x %}
            <a href="/{{current_url}}?page={{ x }}{% if request.GET.tag %}&tag={{request.GET.tag}}{% endif %}"><button class="btn btn-large btn-inverse">{{ x }}</button></a>
        {% else %}
            <a href="/{{current_url}}?page={{ x }}{% if request.GET.tag %}&tag={{request.GET.tag}}{% endif %}"><button class="btn btn-large">{{ x }}</button></a>
        {% endif %}
        {% endfor %}

        {% if data.has_next %}
            <a href="/{{current_url}}?page={{ data.next_page_number }}{% if request.GET.tag %}&tag={{request.GET.tag}}{% endif %}"><button class="btn btn-large">&raquo;</button></a>
        {% else %}
            <button class="btn btn-large disabled">&raquo;</button>
        {% endif %}

    </span>
</div>