{% load i18n %}
<!-- QUICK PODCAST-->
<div style="margin-top: 50px">
<div class="main-opacity-block">
    <div class="row-fluid">

      <div class="span3">

        <a href="{% url 'podcasts' %}?tag=techno">I <span style="color: red">&#9829;</span> {% trans 'Techno' %}</a>

        <div style="padding: 20px 0">
        {% for podcast in techno_list %}

          <a href="{% url 'podcasts_show' podcast.id %}">
          <div class="video-block">
          <table width="100%"><tr>
            <td style="vertical-align: top;padding-right: 15px;text-align: center;word-wrap: break-word" width="45px" height="45px">
              <img src="{{ podcast.thumb }}" class="img-block" />
            </td>
            <td style="vertical-align: top;">
              <p>{{ podcast.title|safe }}</p>
            </td>
          </tr></table>

          </div>
          </a>

        {% endfor %}
        </div>

      </div>

      <div class="span3">
        <a href="{% url 'podcasts' %}?tag=drum%27n%27bass">{% trans "Drum'n'bass" %}</a>

        <div style="padding: 20px 0">
        {% for podcast in drum_list %}

          <a href="{% url 'podcasts_show' podcast.id %}">
          <div class="video-block">
          <table width="100%"><tr>
            <td style="vertical-align: top;padding-right: 15px;text-align: center;word-wrap: break-word" width="45px" height="45px">
              <img src="{{ podcast.thumb }}" class="img-block" />
            </td>
            <td style="vertical-align: top;">
              <p>{{ podcast.title|safe }}</p>
            </td>
          </tr></table>

          </div>
          </a>

        {% endfor %}
        </div>
      </div>

      <div class="span3">
        <a href="{% url 'podcasts' %}?tag=electro">{% trans "Electro" %}</a>

        <div style="padding: 20px 0">
        {% for podcast in electro_list %}

          <a href="{% url 'podcasts_show' podcast.id %}">
          <div class="video-block">
          <table width="100%"><tr>
            <td style="vertical-align: top;padding-right: 15px;text-align: center;word-wrap: break-word" width="45px" height="45px">
              <img src="{{ podcast.thumb }}" class="img-block" />
            </td>
            <td style="vertical-align: top;">
              <p>{{ podcast.title|safe }}</p>
            </td>
          </tr></table>

          </div>
          </a>

        {% endfor %}
        </div>
      </div>

      <div class="span3">
        <a href="{% url 'podcasts' %}?tag=ambient">{% trans "Ambient" %}</a>
        <div style="padding: 20px 0">
        {% for podcast in ambient_list %}

          <a href="{% url 'podcasts_show' podcast.id %}">
          <div class="video-block">
          <table width="100%"><tr>
            <td style="vertical-align: top;padding-right: 15px;text-align: center;word-wrap: break-word" width="45px" height="45px">
              <img src="{{ podcast.thumb }}" class="img-block" />
            </td>
            <td style="vertical-align: top;">
              <p>{{ podcast.title|safe }}</p>
            </td>
          </tr></table>

          </div>
          </a>

        {% endfor %}
        </div>
      </div>

    </div>
</div>
</div>
<!-- /QUICK PODCAST-->