{% load i18n %}

<div class="submit-video">
    <div class="row-fluid">

      <div class="span6">
        <h3 style="text-align: center;padding-top: 10px">{% trans 'Submit podcast' %}</h3>
      </div>
      <div class="span6">

      <div class="row-fluid">
      <div style="padding: 12px 0">
        <form action="{% url 'submit_podcast' %}" method="post" id="form-submit-podcast">
            <div class="span6">
              <div style="text-align: center">
                {% csrf_token %}
                {{ submit_podcast }}
              </div>
            </div>
            <div class="span6">
              <div style="text-align: center">
                <input type="submit" class="btn btn-secondary raised" value="{% trans 'Submit' %}" />
              </div>
            </div>
        </form>
      </div>
      </div>

      </div>
    </div>
</div>
