{% load i18n %}

<div class="submit-video">
    <div class="row-fluid">

      <div class="span6">
        <h3 style="text-align: center;padding-top: 10px">{% trans 'Submit video' %}</h3>
      </div>
      <div class="span6">

      <div class="row-fluid">
      <div style="padding: 12px 0">
        <form action="{% url 'submit_podcast' %}" method="post" onsubmit="return podcast.validateSubmitPodcast();">
            <div class="span6">
              {% csrf_token %}
              {{ submit_podcast }}
            </div>
            <div class="span6">
              <input type="submit" class="btn btn-primary raised" value="{% trans 'Submit' %}" />
            </div>
        </form>
      </div>
      </div>

      </div>
    </div>
</div>