<div id="podcast-suggested" style="padding: 20px 0">
    <div class="row-fluid">

      <div class="span12">
        <div class="row-fluid">
          {% for cast in techno_list %}
            <div class="span1" style="text-align: center">
              <a href="{% url 'podcasts_show' cast.id %}">
                <img src="{{ cast.thumb }}" class="img-block-index">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
</div>