{% load staticfiles %}
{% load i18n %}



    <div class="row-fluid">
      <div class="span9" >
        <!-- <a href="/"><img src="{% static 'img/toro.png' %}"></a> -->
        <a href="/">
          <div style="font-size: 20px;color: #fff;padding-top: 13px;font-weight: bold">podzine.com</div>
        </a>
      </div>

      <div class="span3" style="text-align: right;padding: 7px 0">

      {% if user.is_authenticated %}
        <div>{% trans 'Hello' %}, {{ user.username }}
        <a href="{% url 'django.contrib.auth.views.logout' %}" class="btn btn-primary raised" id="signup-btn" rel="popover">{% trans 'Logout' %}</a>
      </div>

      {% else %}

        <a href="{% url 'django.contrib.auth.views.login' %}" style="color: #fff;font-size: 14px;padding-right: 20px;font-weight: bold;text-decoration: none">{% trans 'Login' %}</a>

        <a href="/accounts/register/" class="btn">{% trans 'Signup' %}</a>

      {% endif %}
      </div>
    </div>
