{% load staticfiles %}
{% load i18n %}
{% load gravatar %}


    <div class="row-fluid">
      <div class="span7" >
        <a href="/"><img src="{% static 'img/wave.png' %}" style="padding-top: 13px"></a>
        <a href="/">
          <!-- <div style="font-size: 20px;color: #006394;padding-top: 15px;font-weight: bold">podzine.com</div> -->
        </a>
          <!-- <div style="font-size: 12px;color: #333;font-weight: bold">electronic music podcast magazine</div> -->
        
      </div>

      <div class="span5" style="text-align: right;padding: 10px 0">

      {% if user.is_authenticated %}
        <div>
          {% gravatar user.email 30 %}
          {% trans 'Hello' %}, {{ user.username }}
        <a ijax="false" href="{% url 'django.contrib.auth.views.logout' %}" class="btn btn-primary raised" id="signup-btn" rel="popover">{% trans 'Logout' %}</a>
      </div>

      {% else %}

        <a ijax="false" href="{% url 'django.contrib.auth.views.login' %}" style="color: #333;font-size: 14px;padding-right: 20px;font-weight: bold;text-decoration: none">{% trans 'Login' %}</a>

        <a ijax="false" href="/accounts/register/" class="btn btn-primary raised">{% trans 'Signup' %}</a>

      {% endif %}
      </div>
    </div>
