{% load staticfiles %}
{% load i18n %}

{% include 'top-header1.html' %}

    <div class="row-fluid">
    	
    		<div class="span12" style="text-align: center">
    			<div id="player-close">
                <img src="{% static 'img/cross97.png' %}"/>
                </div>
    		</div>
    </div>
    <div class="row-fluid">
			<div class="span12">
				<div id="player"></div>
			</div>
			
    </div>
