
/* override bootstrap */
html {
  height: 100%;
  min-height: 100%;
}
body {
  /* font-family: ubuntu,Arial,sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  background: url(/static/img/asfalt-dark.png) #fff;
  height: 100%;
  min-height: 100%;
}
h1 {
  color: #003B4F;
  line-height: 35px;
  font-weight: normal;
  letter-spacing: -2px;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
}
h2 {
  color: #294963;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
}
h3 {
  padding: 0;
  margin: 0;
  color: #0C5A91;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
}
h4 {
  margin-top: 0;
  line-height: 22px;
  font-size: 22px;
  font-weight: normal;
  text-shadow: 2px 2px 1px rgba(255, 255, 255, 1);
}
h5 {
  margin: 0;
  font-size: 14px;
}
.row {
  padding: 7px 0;
}
.progress {
  margin-bottom: 5px;
}
hr {
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #fff;
  margin-top: 10px 0;
}
dt {
  color: #222;
  margin-bottom: 7px;
}
li {
  line-height: 25px;
}
.mb20 {
   margin-bottom: 27px;

}
.job-period {
  text-align: right;
  padding-bottom: 7px;
  font-style: italic;
}
.aright {
  text-align: center;
}
.shadow1 {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(209,209,209,1);
  box-shadow: 0px 0px 10px 5px rgba(209,209,209,1);
  padding: 0;
  margin: 0;
}
.line {
  height: 2px;
  background: #3a87ad;
}

/* navbar */

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 0px;
  overflow: visible;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 8px 20px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  RAISED BUTTONS
************************/
.btn-primary.raised:hover {
    box-shadow: 0 2px 0 0 #007299;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #33a6cc;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

/***********************
  CUSTOM BTN VALUES
************************/

.btn {
    border: 0 none;
    font-weight: 700;

}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
.btn-secondary {
    background: #52913C;
    color: #ffffff;
    text-shadow: none !important;
}
.btn-secondary:hover {
    background: #72913C;
    color: #ffffff;
    text-shadow: none !important;
}

.btn-play {
  box-shadow: 0 2px 0 0 #009C89;
  width: 300px;
  height: 40px;
  background: url(/static/img/play128.png) center center no-repeat #00CCB4;
  color: #ffffff;
}
.btn-play:hover {
  background: url(/static/img/play128.png) center center no-repeat #5CCCBF;
  color: #ffffff;
}

.btn-bpm-search {
  padding: 3px 15px;
  background: #29574A;
  text-shadow: none !important;
  box-shadow: 0;
  color: #ffffff;
}
.btn-bpm-search:hover {
  background: #3C695C;
  color: #ffffff;
}

.btn-light {
  background: #DFECF2;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
.btn-border {
  border: 0 !important;
}

/* ============ BACK IN HISTORY BUTTON */

#history-back-container {
  display: none;
}



/* ==================================== sample-13b */
#sample-13b {
  border-radius: 2px;
  display: none;
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #333;
  width: 90%;
}
#sample-13b-content {

}
#sample-13b p {
  font-family: inherit;
  font-size: 16px;
}
#sample-13b .modal-title {
  margin-top: 0;
  font-size: 32.8833px;
  color: #222;
  font-style: normal;
  font-weight: normal;
  font-family: inherit;
}
#sample-13b .plainmodal-close {
  color: #aaa;
  font-size: 35.55px;
  font-weight: bold;
  position: absolute;
  top: -60px;
  right: 0;
  background: #222;
  padding: 20px;
  cursor: pointer;
}
#sample-13b .plainmodal-hide {
  color: #aaa;
  font-size: 35.55px;
  font-weight: bold;
  position: absolute;
  top: -60px;
  right: 60px;
  background: #333;
  padding: 20px;
  cursor: pointer;
}

.main-header-top {
  padding: 10px 0;

}

.search-query {
  border: 0;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.09);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.09);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.09);
}

.main-link {
  color: #000;
  text-decoration: none;
}

.main-link:hover {

}

.search-query {
  padding: 0;
  margin: 0;
}

.main-header-content {
  background: rgba(255, 255, 255, 0.3);
}
.custom-link {
  color: #333;
  text-decoration: none;
}
.custom-link:hover {
  color: #111;
  text-decoration: none;
}

.main-shadow-bottom {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.49);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.49);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.49);
}

.video-block {
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  overflow: hidden;
  margin-bottom: 5px;
  color: #333;
}

.video-block:hover {
  color: #000;
}

.fc-unthemed .fc-today {
  background: orange;
  color: #fff;
  cursor: pointer;
}

.fc-today:hover {
  background: brown;
}

.img-block {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.6);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 2px;
}

.img-block-index {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.6);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
}
.img-block-index:hover {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.6);
  box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.6);
}

.main-tag a {
  color: #111;
  cursor: pointer;
}
.main-tag a:hover {
  color: #0099cc;
  text-decoration: none;
}
.main-opacity-block {
  background: rgba(242, 240, 237, 0.5);
}
.info-block {
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}


/* MEDIA */

@media (min-width: 768px) and (max-width: 979px) {
  h4 {
    font-size: 18px;
    line-height: 18px;
  }


  .container-fluid {
    padding: 10px !important;
  }
}

@media (max-width: 767px) {

  .container-fluid {
    padding: 10px !important;
  }
}

@media (max-width: 979px) {

  .btn-large {
    padding: 3px 5px;
    margin-right: 5px;
  }

  .container-fluid {

  }
}

@media (min-width: 980px) {

}

@media (min-width: 1200px) {
  h4 {
    font-size: 26px;
    line-height: 28px;
    letter-spacing: -1px;
  }

  .container-fluid {
    margin-left: 60px;
    height: 100%;
    position: relative;
  }

}

@media (min-width: 1400px) {
  .btn {
    font-size: 22px;
  }

  p {
    font-size: 28px;
    line-height: 30px;
  }

  h4 {
    font-size: 26px !important;
  }
}

@media (max-width: 480px) {
  .container-fluid {
    padding: 10px !important;
  }
  #podcast-suggested {
    display: none;
  }

}

.row-fluid [class*=span] {
  min-height: 0px !important;
}

.container-wrap {
  background: url(/static/img/cross.png) 0 0 #F2F0ED;
  margin-right: auto;
  margin-left: auto;
  max-width: 1920px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.45);
  min-height: 100%;
}

.navi-wrap {
  position: absolute;
  left: -60px;
}
.navi-content {
  position: fixed;
  text-align: center;
  bottom: 0px;
  height: 100%;
  width: 60px;
  color: #fff;
  border-right: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  background: url('/static/img/gplay.png') #F2F0ED;
  -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.05);
  -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.05);
  box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.05);
}



.submit-podcast {
  margin-top: 30px;
  background: rgba(0, 114, 153, 0.9);
  color: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.49);
  -moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.49);
  box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.49);
}

.submit-video {
  margin-top: 30px;
  background: rgba(255, 255, 255, 0.4);
  color: #333;
}

.custom-input {
  border: 1px solid #555 !important;
  /*
  -moz-border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  */
  padding: 7px !important;
}

.plainmodal-overlay {
  display: none !important;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  z-index: +1;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: top;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    padding: 10px;
    text-align: center;

}

.spinner {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #0099cc;
  height: 100%;
  width: 20px;
  display: inline-block;
  margin-right: 3px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

#player-close {
  background: #333;
  color: #fff;
  padding: 6px 15px;
  display: none;
  width: 20px;
  cursor: pointer;
}